appdirs==1.4.4
distlib==0.3.8
filelock==3.15.4
iniconfig==2.0.0
jedi==0.19.1
mypy==1.11.1
mypy-extensions==1.0.0
packaging==24.1
parso==0.8.4
platformdirs==4.2.2
pluggy==1.5.0
prompt-toolkit==3.0.47
ptpython==3.0.29
pygments==2.18.0
pytest==8.3.2
requirements-tools==2.1.0
types-aiofiles==24.1.0.20240626
virtualenv==20.26.3
wcwidth==0.2.13
